@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

/* .mantine-1xelxnd{
    padding-left: 5px;
} */


.mantine-ScrollArea-root{
     width: (100vw - (var(--mantine-navbar-width, 0px) + 1rem)) 

}